server:
  port: 8082

spring:
  profiles:
    active: dev
  application:
    name: foodcatalogue
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    discovery:
      enabled: true